<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="haiku.top"
    android:versionCode="13"
    android:versionName="1.35" >
    
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
	 
    <uses-sdk android:minSdkVersion="15" 
        		android:targetSdkVersion="15"/>
    
    

    <application
        android:icon="@drawable/delete_by_haiku_logo"
        android:label="@string/app_name" >
	
        <activity
           	android:theme="@style/splashScreenTheme"
            android:label="@string/app_name"
            android:name="haiku.top.HaikuActivity"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>